main {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: 1.1rem;
}

.nav {
  margin: 2rem;
  width: 100%;
}

.nav ul {
  top: 2rem;
  position: sticky;
  padding: 2rem;
  background-color: #20bf55;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav li {
  margin: 2rem 1rem;
}

.nav li a {
  font-size: 1.3rem;
  color: #ffffff;
}

.content {
  margin: 2rem 1rem;
  padding: 2rem 4rem;
  text-align: justify;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content h1 {
  margin: 3rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 600;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro img {
  max-height: 100px;
  margin-right: 2rem;
}

.categories {
  padding: 1rem;
}

.categories li {
  margin-bottom: 3rem;
}

.categories li h2 {
  font-size: 1.8rem;
  color: #0b4f6c;
  /* margin-bottom: 1rem; */
}

.sections {
  margin: 1rem;
}

section {
  margin-bottom: 2rem;
}

section h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #01baef;
}

article {
  margin: 0.5rem;
}

.term {
  font-weight: 600;
}

.outro {
  display: flex;
  justify-content: space-around;
}

.outro img {
  max-width: 500px;
  max-height: 350px;
}

.data {
  margin-top: 0.5rem;
}
