@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: #fbfbff;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #0b4f6c;
  color: #ffffff;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  font-size: 2rem;
}

header a {
  color: #ffffff;
  font-size: 1.3rem;
}

header a:hover {
  color: #757575;
}

header a:visited {
  color: #01baef;
}

main {
  width: 90%;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.1rem;
  background-color: #757575;
  color: #ffffff;
}
