main {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.nav,
.fake-content {
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.nav {
  width: 20%;
  padding: 2rem;
}

.nav h1 {
  font-size: 1.7rem;
}

.nav ul {
  margin: 3rem;
  text-align: center;
}

.nav li {
  margin-bottom: 2rem;
}

.nav li a {
  font-size: 2rem;
  color: #01baef;
}

.nav li a:hover,
.fake-content a:hover {
  color: #20bf55;
}

.nav li a:visited,
.fake-content a:hover {
  color: #0b4f6c;
}

.fake-content {
  width: 40%;
}

.fake-content h2 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.fake-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fake-content p {
  margin: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.fake-content a {
  color: #01baef;
}
